<h1>A sample CRUD app made using ASP.NET Core, EF Core, MSSQL Server, Angular and Angular Material UI </h1>
<div class = >
    <a routerLink="medicine"><button mat-flat-button class="button" color="primary">Medicine</button></a>
    <a routerLink="unit"><button mat-flat-button class="button" color="primary">Unit</button></a>
    <a routerLink="unit-medicine"><button mat-flat-button class="button" color="primary">Unit-Medicine</button></a>
</div>
<h2>By Witold Mickiewicz</h2>
<h2>GitHub:
    <a href="https://github.com/witold1995/SoftBluePharmacy">witold1995/SoftBluePharmacy</a>
</h2>