
  <mat-toolbar class="toolbar" color="primary">
    <a routerLink=""><button mat-flat-button class="banner" color="primary">SoftBlue Pharmacy</button></a>
    <a routerLink="medicine"><button mat-flat-button class="medicine" color="primary">Medicine</button></a>
    <a routerLink="unit"><button mat-flat-button class="unit" color="primary">Unit</button></a>
    <a routerLink="unit-medicine"><button mat-flat-button class="unit-medicine" color="primary">Unit-Medicine</button></a>
    <div class="spacer" color="primary"> </div>
  </mat-toolbar>
